*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(39, 39, 39)
}
#link_area{
    padding-top: 20vh;
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: 3rem
}
#input_area{
    margin-top: 4vh;
    border-radius: 20px;
    border:4px solid rgb(231, 137, 137) ;
}
#butn{
    font-size: 1.4rem;
    padding:1vh 4vh;
    margin-top: 3vh;
   display: inline-block;
   margin-left: 70vh;
   
}

.grtx {
    font-size: 72px;
    background: -webkit-linear-gradient(rgb(212, 221, 131), rgb(212, 4, 4));
    background-clip: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#vid{
    display: block;
    height: 80vh;
    width: 80vw;
    margin-left: 10vw;

}
#btn{
    /* width: 900px; */
    margin-top: 5vh;
    margin-left: 11vw;
   width: 78vw;
}